# 2019

# ignore all
2019/day*/*

# un-ignore cpps
!2019/day*/*.cpp

# un-ignore inputs
!2019/day*/input*

# 2020

# ignore build artifacts
*/*/bin
*/*/obj

# visual studio configs
*/*/.vs
*/*/*.user
*/.vs
.vs
